.red {
  color: red;
}
.blue {
  color: blue;
}

.btn {
  padding: 1em 2em;
  /* margin: 0 auto;
  display: block; */
  /* width: 80px;
  height: 40px; */
  cursor: pointer;
  border: 6px solid darkblue;
  background: lightblue;
  color: darkblue;
  font-size: 1.2rem;
  transition: background-color 0.3s ease-in-out;
}
.btn:hover{
  background: rgb(120, 195, 221)
}

.text-center {
  text-align: center;
}


.container {
  border: 6px solid black;
  display: grid;
  height: 400px;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  /* grid-template: repeat(3, 1fr) / repeat(3, minmax(auto,200px)); */
  gap: 30px 20px;
  /* place-items: center;
  justify-content: space-around; */
  place-content: center space-between;
}
.grid-item {
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
}
.item-1 {
  background-color: #b4bf35;
  grid-column-start: 1;
  grid-column-end: span 3;
  align-self: center;
}
.item-2 {
  background-color: #b95f21;
}
.item-3 {
  background-color: #1c4c56;
}
.item-4 {
  background-color: #cfb276;
}
.item-5 {
  background-color: #6b0803;
}
.item-6 {
  background-color: #cfb276;
}
.item-7 {
  background-color: #b95f21;
}
.item-8 {
  background-color: #01243a;
}
.item-9 {
  background-color: #aad041;
}

.j-desc {
  display: flex;
  align-items: start;
  gap: 20px;
}

.j-desc__details

.j-desc__job-title {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.j-desc__company {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.j-desc__metadata {
  list-style: none;
  padding-left: 0;
}